@model Bloggie.Web.Models.ViewModels.UserViewModel

@{
}

<div class="bg-secondary bg-opacity-10 py-2">
	<div class="container">
		<h1>Users - Admin Functionality</h1>
	</div>
</div>

<div>
	<div class="container py-5">
		@if (Model.Users != null || Model.Users.Any())
		{
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Username</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in Model.Users)
					{
						<tr>
							<td>@user.Id</td>
							<td>@user.Username</td>
							<td>@user.EmailAddress</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p>No users found!</p>
		}
	</div>
</div>