
@{
}

<div class="container my-5">
	<h2>You are not allowed to access this page!</h2>
	<p>This application utilizes an authorization mechanism. As a normal user, you do not have access to the admin pages.</p>
</div>
